---
layout: default
title: Articles
description: All articles I wrote on my personal blog, plus the best of of articles I wrote for Datawrapper.
---

<div class="completeright">

    <!-- display the name of the category -->
    <div class="category-header">
      <hr>
      <h2>Articles</h2>

      <div class="sidebar-text">
        &rarr; <a href="/index.html#articles">GO TO THE MAIN PAGE TO SEE ONLY ✦ SELECTED ARTICLES</a>
      </div>

      <!-- put a little intro text below the category title -->
      <div class="blogcontainer article-text">
        <p>3 wolf moon narwhal live-edge unicorn subway tile listicle. Marfa synth DIY, wolf single-origin coffee la croix live-edge sartorial four loko fam bitters. Gochujang post-ironic YOLO whatever iceland raw denim shaman. Copper mug put a bird on it godard, authentic distillery four loko meditation. Pickled wayfarers irony cliche ramps hashtag. Neutra palo santo bicycle rights 3 wolf moon cardigan poutine cliche.</p>
      </div>
    </div>


  <div class="grid">


    {% for post in site.categories.article %}

      <!-- don't display about and impressum page -->
      {% unless post.layout == 'withoutdate' %}

      <!-- open external links -->
      {% capture url_to_use %}{{ post.url }}{% endcapture %}
      {% if post.external %}
        {% capture url_to_use %}{{ post.external }}{% endcapture %}
      {% endif %}

      <!-- display title, image and date for each post -->
      <a class="thumb" href="{{ post.url }}">
        <div class="post">
        <div class="post-image">
          <img src="{{ post.image }}"/>
        </div>
        <div class="post-date">

          <!-- show if it's a faved article -->
          {% if post.categories contains "fav" %}
            ✦
          {% endif %}

          <!-- display month & year when blog post or talk. Only display year for design work -->
          {% if category contains "design" %}
             {{ post.date | date: "%Y" }}
          {% else %}
             {{ post.date | date: "%B %Y" }}
          {% endif %}

          <!-- show for which client I've worked for -->
          {% unless post.whofor == nil %}
            <b><span style="color:#cc0000">{{ post.whofor }}</b></span>
          {% endunless %}



        </div>
        <h1 class="post-title">
            {{ post.title }}
        </h1>
        <div class="post-date">
            {{ post.summary }}
        </div>
      </div></a>

      {% endunless %}
    {% endfor %}


  </div>

  <!-- <div class="category-header">
    <hr>
    <h2>All articles</h2>
  </div>

  {% include aboutme.html %} -->

</div>
