---
layout: default
title: Home
---

<div class="completeright">

  <div class="intro">
    <hr>
    <h2>
      Place holder for bio/about <a href="/about"><img src="/pic/000000-about2.png" width="70px" alt="profile pic " style="margin-bottom:-10px"></a> <br>
      We <a href="/projects.html">create</a>, <a href="/talks.html">talk</a> & <a href="/articles.html">write</a> about data vis.<br>
    </h2><br>

    <div class="sidebar-text">
      &rarr; <a href="mailto:vivaladataviz@gmail.com">EMAIL</a>&emsp;
      &rarr; <a href="https://twitter.com/vivaladataviz" target="_blank">TWITTER</a>&emsp;
      &rarr; <a href="https://github.com/vivaladataviz" target="_blank">GITHUB</a>&emsp;
    </div>

  </div>

  {% assign array = "article|talk|design" | split:'|' %}
  {% for category in site.categories %}

    <!-- don't show the category "fav" as a category -->
    {% unless category contains "fav" %}

    <!-- find out & display the name of each category -->
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div class="category-header">
      <hr>
      {% case category_name %}
      {% when "article" %}
        <a name="articles" class="anchor"></a>
        <h2>Selected Articles</h2>
        <div class="sidebar-text">
          &rarr; <a href="/articles.html">SEE ALL ARTICLES</a>
        </div>
      {% when "talk" %}
        <a name="talks" class="anchor"></a>
        <h2>Selected Talks</h2>
        <div class="sidebar-text">
          &rarr; <a href="/talks.html">SEE ALL TALKS</a>
        </div>
      {% when "design" %}
        <a name="projects" class="anchor"></a>
        <h2>Selected Projects</h2>
        <div class="sidebar-text">
          &rarr; <a href="/projects.html">SEE ALL PROJECTS</a>
        </div>
      {% endcase %}

      <!-- put a little intro text below each category title -->
      <div class="blogcontainer article-text">

          {% case category_name %}
          {% when "article" %}
            <p>Shoreditch af tilde flannel DIY. Helvetica ennui craft beer retro la croix waistcoat roof party, iPhone meh intelligentsia offal gluten-free everyday carry glossier. Gluten-free selfies cloud bread, 8-bit williamsburg af coloring book squid artisan cardigan PBR&B kitsch. Copper mug coloring book banh mi cloud bread fanny pack kickstarter. Fanny pack kombucha art party, microdosing live-edge plaid woke shabby chic. La croix actually asymmetrical affogato, tote bag tumeric banh mi VHS literally freegan fixie taxidermy try-hard activated charcoal.</p>
          {% when "talk" %}
            <p>Poke listicle cold-pressed cliche cray narwhal chia food truck. Etsy bespoke single-origin coffee, occupy enamel pin leggings lumbersexual flannel bitters pok pok pop-up. Man braid fixie etsy prism vaporware godard. Polaroid cray air plant hammock vegan sartorial single-origin coffee. Deep v franzen sustainable coloring book. Ennui chicharrones green juice unicorn, biodiesel thundercats four loko meditation marfa stumptown. YOLO lo-fi disrupt, palo santo occupy meggings VHS pitchfork.:</p>
          {% else %}
            <p>3 wolf moon narwhal live-edge unicorn subway tile listicle. Marfa synth DIY, wolf single-origin coffee la croix live-edge sartorial four loko fam bitters. Gochujang post-ironic YOLO whatever iceland raw denim shaman. Copper mug put a bird on it godard, authentic distillery four loko meditation. Pickled wayfarers irony cliche ramps hashtag. Neutra palo santo bicycle rights 3 wolf moon cardigan poutine cliche.</p>
          {% endcase %}
      </div>
    </div>


  <div class="grid">

    {% for post in site.categories[category_name] %}

      <!-- only display the post in a category if it's the **last** category in the frontmatter-category-array. E.g, if the frontmatter-array of a post is [fav, article, talks], it won't show in the article-category, but only in the talks-category. -->
      <!-- also, only show an article if it's in the fav category. -->
      {% capture category_name-actual %}{{ post.categories | last }}{% endcapture %}
      {% if post.categories contains "fav" and category_name-actual == category_name %}

      <!-- open external links -->
      {% capture url_to_use %}{{ post.url }}{% endcapture %}
      {% if post.external %}
        {% capture url_to_use %}{{ post.external }}{% endcapture %}
      {% endif %}

      <!-- display title, image and date for each post -->
      <a class="thumb" href="{{ post.url }}">
        <div class="post">
        <div class="post-image">
          <img src="{{ post.image }}"/>
        </div>
        <div class="post-date">

          <!-- display month & year when blog post or talk. Only display year for design work -->
          {% if category contains "design" %}
             {{ post.date | date: "%Y" }}
          {% else %}
             {{ post.date | date: "%B %Y" }}
          {% endif %}

          <!-- show for which client I've worked for -->
          {% unless post.whofor == nil %}
            <b><span style="color:#cc0000">{{ post.whofor }}</b></span>
          {% endunless %}

        </div>
        <h1 class="post-title">
            {{ post.title }}
        </h1>
        <div class="post-summary">
            {{ post.summary }}
        </div>
      </div></a>
      {% endif %}

    {% endfor %}


  </div>
  {% endunless %}
  {% endfor %}

  <div class="category-header">
    <hr>

    <a id="aboutme"></a><h2>About Viva la DataViz</h2>
    <div class="sidebar-text">
      &rarr; <a href="/about.html">LEARN MORE</a>
    </div>
    {% include aboutme.html %}
<br>
    <!-- <div class="blogcontainer article-text">

    <div class="sidebar-text" style="display:inline;"><a style="color:#cc0000; border-bottom: 0px;" onclick="newQuote()">&rarr; SHOW ANOTHER NICE THING SOMEONE HAS SAID ABOUT ME</a></div>

    <p><h1 id="quotegenerator" style="margin-top: 0px; margin-bottom: 5px;">Wonderfully reasoned and illustrated, and will save me loads of time and headaches from explaining this repeatedly.</h1>

    — <small id="quoter">Bill Rapp</small> </p>

    <script src='/quotegenerator.js'></script>
<br><br>

    </div> -->
</div>

</div>

<!-- &thinsp; <a class="see-all-link" href="/projects.html">&rarr; SEE ALL PROJECTS</a></p> -->
