---
layout: default
title: Talks
description: Slides and transcripts of my best talks.
---

<div class="completeright">

    <!-- display the name of the category -->
    <div class="category-header">
      <hr>
      <h2>Talks</h2>

      <!-- Go back the main page to see a collection of my best talks</a> -->
      <div class="sidebar-text">
        &rarr; <a href="/index.html#talks">GO TO THE MAIN PAGE TO SEE ONLY ✦ SELECTED TALKS</a>
      </div>

      <!-- put a little intro text below the category title -->
      <div class="blogcontainer article-text">
        <p>Talks let me combine images (slides) and text (my speech) in a more tension-building, direct way than blog posts. I've given some general data vis workshops and talks, but here I show the talks I used as an excuse to research a completely new question:
        </p>
    <br></div>


  <div class="grid">

    {% for post in site.categories.talk %}

    <!-- don't display about and impressum page -->
    {% unless post.layout == 'withoutdate' %}

      <!-- open external links -->
      {% capture url_to_use %}{{ post.url }}{% endcapture %}
      {% if post.external %}
        {% capture url_to_use %}{{ post.external }}{% endcapture %}
      {% endif %}

      <!-- display title, image and date for each post -->
      <a class="thumb" href="{{ post.url }}">
      <div class="post">
        <div class="post-image">
          <img src="{{ post.image }}"/>
        </div>
        <div class="post-date">

          <!-- show if it's a faved article -->
          {% if post.categories contains "fav" %}
            ✦
          {% endif %}

          <!-- display month & year when blog post or talk. Only display year for design work -->
          {% if category contains "design" %}
             {{ post.date | date: "%Y" }}
          {% else %}
             {{ post.date | date: "%B %Y" }}
          {% endif %}

          <!-- show for which client I've worked for -->
          {% unless post.whofor == nil %}
            <b><span style="color:#cc0000">{{ post.whofor }}</b></span>
          {% endunless %}

        </div>
        <h1 class="post-title">
            {{ post.title }}
        </h1>
        <div class="post-date">
            {{ post.summary }}
        </div>
      </div></a>

      {% endunless %}
    {% endfor %}

  </div>

  <div class="blogcontainer article-text">

    <h2>Recordings</h2>
    <p>
      Place holder.
    </p>

  </div>


</div>
