---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---

// fonts
$bodyfont:        'inter', sans-serif;
$titlefont:       'inter', sans-serif;
$articlefont:     'ff-tisa-web-pro', serif;
$codefont:        'ibm-plex-mono', monospace;


// font weigths
$fw-thin:         400;
$fw-medium:       500;
$fw-thick:        700;


// font sizes
$sans-tiny:       0.82rem;
$sans-tiny-lh:    1.2rem;

$sans-small:      1.1rem;
$sans-small-lh:   1.35rem;

$sans-medium:     1.4rem;
$sans-medium-lh:  2rem;

$sans-bigger:     2rem;
$sans-bigger-lh:  2.75rem;

$sans-big:        3rem;
$sans-big-lh:     4rem;


// breaks
$break-small:     700px;
$break-large:     1800px;


// colors
$maincolor:       #333;
$highlight:       #cc0000;
$toneddown: 	    #808080;
$background:      #F9F9F9;

// imports
@import "typo";
@import "base";
@import "code";
@import url('https://rsms.me/inter/inter.css'); //Inter
@import url('https://use.typekit.net/nvb2ary.css'); //FF Tisa
